{% extends "lib/base_jumbotron.html" %}

{% comment %}
# This file is part of the VecNet Data Warehouse Browser.
# For copyright and licensing information about this package, see the
# NOTICE.txt and LICENSE.txt files in its top-level directory; they are
# available at https://github.com/vecnet/dw
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License (MPL), version 2.0.  If a copy of the MPL was not distributed
# with this file, You can obtain one at http://mozilla.org/MPL/2.0/
{% endcomment %}

{% block jumbotron_content %}
    <img src="/static/datawarehouse/img/icon_dw.png">
    <h1>Data Warehouse Browser</h1>
<!--    <p class="lead">Meeting all of your data needs!</p>-->
{% endblock %}

{% block extra_css %}
   <link rel="stylesheet" type="text/css" href="/static/datawarehouse/css/dw2.css" />
    {% block extracss %}{% endblock %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}datawarehouse/js/jquery-ui-1.10.0.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}datawarehouse/js/easyui/jquery.easyui.min.js"></script>
{% endblock %}