{% extends "datawarehouse/base.html" %}

{% comment %}
########################################################################################################################
# VECNet CI - Prototype
# Date: 4/5/2013
# Institution: University of Notre Dame
# Primary Authors:
#   Lawrence Selvy <Lawrence.Selvy.1@nd.edu>
#   Zachary Torstrick <Zachary.R.Torstrick.1@nd.edu>
########################################################################################################################
{% endcomment %}

{% load prettyLookups %}

{% block page_title %}
    Data Warehouse: Overview
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="span3">
            <ul class="nav mainnav sidebar-nav nav-list nav-tabs nav-stacked" >
                <li class="active"><a href="{% url "datawarehouse_index" %}"><i class="icon-info-sign"></i> Tool Overview<i class="icon-angle-right pull-right"></i></a></li>
                <li class="disabled"><a>Data Tools</a></li>
                <li><a href='cube'><i class="icon-th"></i>Dimensional Data </a></li>
                <li><a href='datawarehouse/alltables?tablename=LutSpecies'><i class="icon-table"></i>Lookup Tables</a></li>
                {%  if isIngestor %}
                    <li><a href="etl/upload"><i class="icon-globe"></i>Create Mapping</a></li>
                    <li><a href="ingestion"><i class="icon-download-alt"></i>Ingest Data</a></li>
                {% endif %}
            </ul>
        </div>

    <div class="span9">
        {% block page_content %}
            <h3> Welcome to the Data Warehouse Browser</h3>
            <p align="jsutify"> The Data Warehouse Browser

            is a collection of two tools, Dimensional Data Browser and Lookup Tables Browser.

            </p>

            <h4>Dimensional Data</h4>
            <p>
                is where you can examine information that can be used in the creation of simulations.  The topics
                covered there are fairly diverse.  From weather for many different locations, to how many bednets
                were covered in the last World Malaria Report Household Survey.  You can search through this
                information by country, date, and aggregate across these fields to do some basic analysis.
            </p>
            <h4>Lookup Tables</h4>
            <p>
                is a place where you can look at information collected by experts on topics like bionomics,
                entomological endpoints, and more.
            </p>
        {%  endblock %}
    </div>

    </div>
</div>
{% endblock %}
