{% extends "datawarehouse/base.html" %}

{% comment %}
########################################################################################################################
# VECNet CI - Prototype
# Date: 3/10/2015
# Institution: University of Notre Dame
# Primary Authors:
#  Anna Alber <aalber1@nd.edu>
########################################################################################################################
{% endcomment %}

{% load prettyLookups %}
{% load mathTags %}
{% block page_title %}
    Data Warehouse: Look Up Tables
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="/static/datawarehouse/DataTables/media/css/demo_table.css" />
    <link rel="stylesheet" type="text/css" href="/static/datawarehouse/TableTools/media/css/TableTools.css" />
    <link rel="stylesheet" type="text/css" href="/static/datawarehouse/css/dataTablesBootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/datawarehouse/css/luresults.css" />
     <link rel="stylesheet" type="text/css" href="/static/datawarehouse/css/form.css">
    <link rel="stylesheet" type="text/css" href="/static/datawarehouse/css/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/datawarehouse/css/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/datawarehouse/css/easyui/demo/demo.css">

{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="/static/datawarehouse/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/datawarehouse/js/easyui/jquery.easyui.min.js"></script>


    <script type="text/javascript">

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
{% endblock %}

{% block main_content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/datawarehouse">Data Warehouse Browser</a><span class="divider">/</span></li>
            <li class="active">Lookup Tables</li>
        </ul>


             <ul>
             {% comment %}
                {% for key, value in results.iteritems %}
                {% if key == "LutInterventionIrsCoveragesAdmin1"  and user.is_authenticated == False or key == "LutInterventionItnCoveragesAdmin1" and user.is_authenticated == False %}
                {% else %}
                       <li>
                        <a href="/datawarehouse/alltables?tablename={{ key }}">{{key|prettyModelName}}</a>
                        </li>
                {% endif %}
                {% if forloop.last %}
                    <li>
                    <a href="/datawarehouse/lookuptable" >Vector Species Parameters</a>
                    </li>
                    <li>
                    <a href="/datawarehouse/simpleparam" >Representative Workflow Parameters</a>
                        </li>
                {% endif %}
                {% endfor %}
                {% endcomment %}
                 <li>
                    <a href="/datawarehouse/alltables?tablename=LutSpecies" >Species Bionomics</a>
                    </li>
                    <li>
                     <a href="/datawarehouse/alltables?tablename=LutEntomologicalEndpoint" >Entomological Parameters</a>
                     </li>

                {% if user.is_authenticated == True %}
                    <li>
                    <a href="/datawarehouse/alltables?LutInterventionIrsCoveragesAdmin1">IRS Coverage in Africa</a>
                    </li>
                    <li>
                    <a href="/datawarehouse/alltables?tablename=LutInterventionItnCoveragesAdmin1">ITN Coveraga in Africa</a>

                    </li>

                {% endif %}
             <li>
                    <a href="/datawarehouse/lookuptable" >Vector Species Parameters</a>
                    </li>
                    <li>
                     <a href="/datawarehouse/simpleparam" >Representative Workflow Parameters</a>
                     </li>


            </ul>


                    <h3> Vector Species Parameters</h3>

                    <table class="easyui-datagrid" id="box-table" style="width:900px;height:300px;" title="{{ title }}"
                            url="{{ url_1 }}"
                           pageSize="10"

                           fitColumns="true" rownumbers="true"
                           pagination="true">

                        <thead>
                        <tr>
                            {% for theField in fields_1 %}

                                <th field="{{ theField }}" width="80" sortable="true"><a href="#">{{ theField }}</a>
                                                </th>



                            {% endfor %}
                        </tr>
                        </thead>
                    </table>
                    <h3> Vector Species Sensitivity Parameters </h3>

                    <table class="easyui-datagrid" id="box-table" style="width:900px;height:300px;" title="{{ title }}"
                            url="{{ url_2 }}"
                           pageSize="10"

                           fitColumns="false" rownumbers="true"
                           pagination="true">

                        <thead>
                        <tr>
                            {% for theField in fields_2 %}

                                <th field="{{ theField }}" width="90" sortable="true"><a href="#">{{ theField }}</a>
                                                </th>



                            {% endfor %}
                        </tr>
                        </thead>
                    </table>



    </div>

{% endblock %}